
li {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   width: 100%;
   justify-content: flex-start;
}

footer {
   width: 100%;
   padding: 10px 0;
}

i {
   font-size: 35px;
   padding: 15px;
   color: #56738C;
}

i:hover {
   color: #afbdc9;
}

p {
   padding-left: 15px;
   color: #56738C;
}

.quiz-image{
   background-image: url('../assets/github-logo.png');
   height: 300px;
   width: 300px;
  
}

.header {
   display: flex;
   flex-direction: row;
}

.form {
   margin: 20px;
 }
 
 .form input {
   display: block;
   margin-top: 5px;
   margin-bottom: 5px;
   width: 100%;
 }

.bitmoji {
width: 350px;
margin-bottom: 1px;
top: -5px;
}

.flex-container-about-me {
display: flex;
justify-content:center;
align-items: center;
border-color: var(--white);
padding: 20px;
border: 10px solid rgb(0, 0, 0);
border-radius: 15px 50px;
width: 40%;
position:relative;
}

.flex-container-outer {
   display:flex;
   justify-content: center;
   align-items: center;
   margin: 2% auto;
   border-color: var(--white);
   padding: 20px;
   width: 65;
   position:relative;
}